<% layout('layouts/default') %>

    <h1 class="mt-2">Log In</h1>
    <div class="row">
        <div class="col-6 offset-1 mt-2">
            <form action="/login" method="post" class="mb-4">
                <div class="mb-3">
                    <label for="username" class="form-label">Username:</label>
                    <input type="text" id="username" name="username" placeholder="Enter a username" class="form-control"
                        required>
                </div>

                <div class="mb-3">
                    <label for="password" class="form-label">Password:</label>
                    <input type="password" id="password" name="password" placeholder="Enter your password"
                        class="form-control" required>
                </div>

                <button type="submit" class="btn btn-success">Log In</button>
            </form>
        </div>
    </div>